html {
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}
h1{
  color: white;
  font-size: 500%;
  margin-right: 60%;
  margin-top: 200px;
}

#title {
  color: white;
  font-size: 500%;
  margin-top: 25px;
  margin-right: 60%;
  margin-left: auto;
}

#portfolio {
  color: white;
  font-size: 125%;
  margin-top: 0px;
  margin-left: 1%;
}

#description {
  color: white;
  font-size: 225%;
  margin-right: 75%;
  margin-left: 25%;
}

.links {
  color: white;
  margin-right: 75%;
  margin-left: 25%;
  font-size: 150%
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}
