<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %} {% if site.description != '' or site.enable_contact ==
          true %}
          <p class="text-center">
            {% if site.description != '' %} {{site.description}} {% endif %} {%
            if site.enable_contact == true %} {% include contact.html %} {%
            include contact-modal.html %} {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">
            {% if site.twitter_username != '' %}
            <a href="https://twitter.com/{{ site.twitter_username }}"
              ><button class="btn btn-default btn-lg">
                <i class="fa fa-twitter fa-lg"></i>Twitter
              </button></a
            >
            {% endif %} {% if site.github_username != '' %}
            <a href="https://github.com/{{ site.github_username }}"
              ><button class="btn btn-default btn-lg">
                <i class="fa fa-github fa-lg"></i>Github
              </button></a
            >
            {% endif %} {% if site.blog_site != '' %}
            <a href="https://{{ site.blog_site }}"
              ><button class="btn btn-default btn-lg">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pen"
                  viewBox="0 0 16 16"
                  style="margin-right: 10px"
                >
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
                  /></svg
                >Blog
              </button></a
            >
            {% endif %}
          </div>
        </div>
      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>
    </div>
  </div>
</div>
