html { 
  background-size: cover;
  font-family: "Shift", Sans-serif;
  background-color: black;
  background-image: url(https://source.unsplash.com/random);
}
h1{
	color: black;
	font-size: 500%;
	text-align: center;	
	margin-top: 200px;
}

p{
	color: black;
	font-size: 350%;
	text-align: center;	
}

a:link {
    color: black;
}

a:visited {
    color: white;
}

a:hover {
    color: #779ECB;
}

a:active {
    color: #779ECB;
}

.links {
	color: black;
	text-align: center;	
}
