html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	color: #808080;
	font-size: 500%;
	margin-left: 70px;
	margin-right: auto;	
	margin-top: 200px;
}

p{
	color: #808080;
	font-size: 350%;
	margin-left: 70px;
	margin-right: auto;	
}

a:link {
    color: #808080;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

.links {
	color: white;
	position: fixed;
	bottom: 20px;
	left: center;
}
