html { 
  background-size: cover;
  background-color: #696969;
  font-family: "Shift", Sans-serif;
}
h1{
	color: white;
	font-size: 500%;
	text-align: center;	
	margin-top: 200px;
}

p{
	color: white;
	font-size: 350%;
	text-align: center;	
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #779ECB;
}

a:active {
    color: #779ECB;
}

.links {
	color: white;
	text-align: center;	
}
